#footer {
  background:
    url("/bg/diamond.png"), linear-gradient(to bottom, #0d0c0c, #141414);
  background-blend-mode: multiply;
  border-top: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 100px 1em;
  position: relative;
  z-index: 1;
  margin-top: 100px;
  .logo {
    max-width: 400px;
    @media screen and (max-width: 580px) {
      max-width: 70%;
    }
    margin-bottom: 1em;
  }

  .copy {
    color: #cfcfcf31;
    text-align: center;
    @media screen and (max-width: 420px) {
      font-size: 0.8rem;
    }
  }

  .attrib {
    color: #cfcfcf7c;
    font-size: 0.9rem;
    text-align: center;
    @media screen and (max-width: 420px) {
      font-size: 0.8rem;
    }
  }

  .btn-mix {
    background: var(--dgold);
    color: #292929;
    padding: 0.25em 1em;
    gap: 1em;
    display: flex;
    align-items: center;
    gap: 1em;
    margin: 1em;
  }
}
