@import "mixins";
#footer {
  height: 600px;
  background: linear-gradient(to bottom, #212121, #1a1a1a);
  border-top: 4px solid var(--dgold);

  @include mq(768) {
    height: auto;
  }
  .confine {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    gap: 2em;
    height: 100%;
    grid-template-areas: "nav title attrib";

    @include mq(1024) {
      grid-template-areas: "title attrib nav";
    }

    .fh {
      color: var(--dgold);
      letter-spacing: -2px;
      font-family: var(--fontM);
      margin-bottom: 1em;
    }
    .l {
      text-align: right;
      padding: 2em 0;
      padding-left: 3em;
      grid-area: nav;
      .fn {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 0.5em;
        .btn-fn {
          background: #141414;
          color: var(--dgold);
          border-bottom: 1px solid transparent;
          font-size: 1.2rem;
          padding: 0.2em 1em;
          transition: all 250ms ease;
          text-transform: uppercase;
          font-weight: bold;
          width: 100%;
          transition: all 200ms ease;
          max-width: 100%;
          &:hover {
            max-width: 90%;
            border-bottom: 1px solid var(--dgold);
          }
        }
      }
    }

    .c {
      padding-top: 100px;
      background: url("/bg/footer-bg2.png");
      background-size: cover;
      background-position: center;
      object-fit: cover;
      display: flex;
      flex-direction: column;
      align-items: center;
      box-shadow: 0px 0px 42px 10px rgba(0, 0, 0, 0.254);
      grid-area: title;

      .logo {
        width: 80%;
        margin: 0 auto;
      }
      .lens-scl {
        margin-top: 1em;
      }
    }

    .r {
      padding: 4em 0;
      grid-area: attrib;

      p {
        font-size: 0.9rem;
        color: rgba(255, 255, 255, 0.51);
      }

      .attribution {
        opacity: 0.8;
        margin-top: 2em;
      }
    }
    @include mq(768) {
      grid-template-areas: "title title" "attrib nav";
      width: 100%;
      grid-template-columns: 1fr;
      max-width: 100%;
      padding-bottom: 100px;
      .c {
        padding-bottom: 100px;
      }
      .l,
      .r {
        padding: 0.5em;
      }
    }

    @include mq(468) {
      grid-template-areas: "title" "attrib" "nav";
    }
  }
  .btn-scroll {
    background: black;
    color: var(--dgold);
    border: 2px solid var(--dgold);
    font-weight: bold;
    padding: 0.25em 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 80%;
    margin-top: 4em;
    &:hover {
      color: #282828;
      background: var(--dgold);
    }
    &.two {
      display: none;
      margin-top: 1em;
      width: 80%;
      gap: 2em;
    }
    @include mq(468) {
      &.one {
        display: none;
      }
      &.two {
        display: flex;
      }
    }
  }
}
