@import "mixins";

#gd_vertical {
  display: grid;
  // grid-template-columns: repeat(4, 1fr);

  max-width: 90%;
  margin: 0 auto;
  gap: 2vw;
  position: relative;
  .col {
    display: flex;
    flex-direction: column;
    gap: 2vw;

    .media {
      width: 100%;
      height: auto;
    }
  }

  @include mq(768) {
    // grid-template-columns: 1fr 1fr;
    .media {
      width: 100%;
      height: auto;
    }
  }
}
