@import "mixins";

#header {
  position: fixed;
  bottom: 0%;
  left: 0%;
  z-index: 50;
  background: #0f0e0e url("/bg/wave.png");
  // min-height: 70px;
  border-top: 4px solid var(--dgold);
  width: 100%;
  display: flex;
  padding: 0 2em;

  box-shadow: 0px 0px 70px 14px rgba(0, 0, 0, 0.782);
  transition: all 500ms ease;

  @include mq(550) {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  &.v {
    transform: translateY(0%);
  }
  &.h {
    transform: translateY(100%);
  }

  .d-side {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 100%;
    left: -19px;
    right: 0%;
  }
  .logo {
    // background: #181717;
    display: flex;
    justify-content: center;
    padding: 0.6em 1em;
    @media screen and (max-width: 420px) {
      padding-bottom: 0;
      padding-top: 2em;
    }
    &:hover {
      transform: translateY(-4%);
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      max-width: 240px;
    }
  }

  #main-nav {
    display: flex;
    gap: 2em;
    padding: 0 2em;
    // align-items: center;
    // height: 100%;

    @media screen and (max-width: 1280px) {
      gap: 1.3em;
    }
    // justify-items: center;
    @include mq(1024) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 2em;
    }

    @include mq(768) {
      grid-template-columns: 1fr;
      gap: 1em;
      padding: 1em;
      .btn-nav {
        background: #2e2e2e;
        filter: brightness(140%) drop-shadow(0px 0px 5px black);
        padding: 0.55em 1em;
        opacity: 1;
      }
    }
    span {
      display: block;
    }
    .btn-nav {
      opacity: 1;
      // filter: brightness(50%) drop-shadow(0px 0px 5px black);
      transition: all 200ms ease;
      width: 100%;
      height: 100%;
      // img {
      //   height: 23px;
      //   width: auto;
      //   // object-fit: cover;
      //   align-items: center;
      //   // image-rendering: optimizeQuality;
      //   image-resolution: 250px;
      // }
      color: var(--dgold);
      font-family: var(--fontM);
      text-transform: uppercase;
      font-weight: 300;

      font-size: 2rem;
      white-space: nowrap;
      opacity: 0.6;
      display: flex;
      align-items: center;
      @media screen and (max-width: 1280px) {
        font-size: 1.4rem;
      }
      @media screen and (max-width: 768px) {
        font-size: 1.2rem;
        opacity: 1;
        font-weight: bolder;
      }

      &:not(.btn-popup) {
        &:hover,
        &.active {
          opacity: 1;
          scale: 1.02;
          // filter: brightness(100%) drop-shadow(0px 0px 5px var(--dgold));
        }
        &:active {
          opacity: 1;
          scale: 0.9;
        }

        &:hover {
          filter: brightness(100%) drop-shadow(0px 0px 5px var(--dgold));
        }
      }
      &.btn-popup {
        position: relative;
        opacity: 1;
        span {
          opacity: 0.6;
        }
        scale: 1;
        &:hover {
          .popups {
            opacity: 1;
            scale: 1 1;
          }
        }
        .popups {
          position: absolute;
          bottom: 100%;
          // width: 100%;
          display: flex;
          flex-direction: column;
          padding: 0.5em 1em;
          background: url("/bg/wave.png"), #0f0e0e;
          background-blend-mode: screen;
          opacity: 0.4;
          // transform: translateX(0%);
          left: -100%;
          border-top: 20px solid var(--dgold);
          border-left: 5px solid var(--dgold);
          border-right: 5px solid var(--dgold);
          scale: 1 0;
          transform-origin: bottom;
          transition: all 500ms ease;
          .btn-sub {
            opacity: 0.7;
            font-weight: 200;
            &:hover {
              filter: brightness(100%) drop-shadow(0px 0px 5px var(--dgold));
              opacity: 1;
            }
          }
        }
      }
    }
    .btn-nav.btn-mobile {
      display: none;
      @media screen and (max-width: 1024px) {
        display: block;
      }
    }
    @media screen and (max-width: 1024px) {
      .btn-popup {
        display: none;
      }
    }
  }

  .btn-toggle {
    position: absolute;
    bottom: 100%;
    right: 5%;
    background: var(--dgold);
    color: black;
    font-size: 2rem;
    padding: 0.25em 0.5em;
    transform-origin: bottom;

    width: 70px;
    border-radius: 0.6em 0.7em 0 0;
    // z-index: -5;
    @include mq(550) {
      // width: 50px;
    }
    .s-l {
      position: absolute;
      bottom: -12%;
      z-index: 19;
      right: 98%;
      width: 100%;
      height: 100%;
    }
    .s-r {
      position: absolute;
      bottom: -10%;
      left: 98%;
      width: 100%;
      height: 100%;
      scale: -1 1;
    }
    svg {
      width: 100%;
      height: 100%;
    }
  }
}
