#under-const {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  color: var(--dgold);
  // background: black;
  flex-direction: column;
  .const {
    display: flex;
    gap: 1em;
    text-transform: uppercase;
    font-weight: bolder;
  }
  .desc {
    color: rgb(137, 136, 136);
    font-size: 3rem;
  }

  .btn {
    background: var(--dgold);
    color: black;
    font-family: var(--fontM);
    font-size: 1.2rem;
    padding: 0.25em 1em;
    margin: 1em;
    border-radius: 1em;
  }
}
