@import "mixins";
#page_contact {
  margin-bottom: 500px;
  position: relative;

  .bgtop {
    position: absolute;
    top: 0%;
    height: 500px;
    width: 100%;
    mask-image: linear-gradient(to bottom, white, transparent);
    --bg: url("/gfx/herobg.webp");
    background: url("/gfx/herobg.webp");
    background-position: center;
    opacity: 0.3;
    filter: saturate(0);
    z-index: -50;
  }

  .ct-loading {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.669);
    top: 0%;
    left: 0%;
    z-index: 1500;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    svg {
      width: 90px;
      height: 90px;

      animation: speen 1s infinite linear;
      @keyframes speen {
        from {
          rotate: 0deg;
        }
        to {
          rotate: 360deg;
        }
      }
    }

    &.v {
      opacity: 1;
    }
    &.h {
      opacity: 0;
      user-select: none;
      pointer-events: none;
    }
  }
  .ct-heading {
    padding-top: 130px;
    max-width: 800px;
    margin: 0 auto;
    filter: drop-shadow(0px 0px 5px black);
    .logo {
      width: 100%;
      object-fit: contain;
      height: 100%;
    }
  }

  .ct-form {
    .ct-panel {
      background: url("/bg/noise.png") #282828;
      background-blend-mode: multiply;
      box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.394);
      min-height: 800px;
      margin-top: 8em;

      // @supports not (background-blend-mode: multiply) {
      background-repeat: no-repeat;
      background-size: cover;
      // }
      border-radius: 2em;

      display: grid;
      grid-template-columns: 1fr 2fr;

      border-bottom: 3px solid var(--dgold);
      @include mq(768) {
        display: flex;
        flex-direction: column;
      }
      .l {
        border-radius: 2em 0 0 2em;
        scale: 1.05;
        transform-origin: right;
        box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.144);
        @include mq(768) {
          border-radius: 0;
          scale: 1;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: inherit;
          @include mq(768) {
            max-height: 300px;
          }
          @include mq(468) {
            max-height: 200px;
          }
        }
      }

      .r {
        padding: 4em;
        @include mq(550) {
          padding: 2em;
        }
        .h {
          font-size: 4rem;
          // letter-spacing: ;
          color: var(--dgold);
          letter-spacing: 0px;
          font-weight: 500;
          @include mq(768) {
            font-size: 3rem;
          }

          @include mq(550) {
            font-size: clamp(1rem, 18vw, 2rem);
            letter-spacing: -2px;
          }
        }
        display: flex;
        flex-direction: column;
        gap: 1em;

        .action {
          display: flex;
          justify-content: flex-end;
          .btn-send {
            background: black;
            color: var(--dgold);
            border: 2px solid var(--dgold);
            font-weight: bold;
            padding: 0.25em 1em;
            gap: 2em;
            display: flex;
            align-items: center;
            justify-content: space-between;
            // margin-top: 4em;
            font-family: var(--fontM);
            font-size: 1.5rem;

            @include mq(468) {
              font-size: 1.2rem;
            }

            &:hover {
              color: #282828;
              background: var(--dgold);
            }
          }
        }
      }
    }
  }
}
