@import "mixins";
#sidec {
  position: fixed;
  left: 10px;
  top: 0px;
  z-index: 40;
  display: flex;
  flex-direction: column;
  align-items: center;
  pointer-events: fill;
  max-width: 50px;
  &::before {
    content: "";
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100px;
    height: 100vh;
    background: black;
    user-select: none;
    pointer-events: none;
    mask-image: linear-gradient(90deg, black, transparent);
    opacity: 0.4;
    z-index: -1;
  }

  .logo {
    width: 80px;
    padding: 0.5em 0.5em;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.581));

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .lens-scl {
    display: flex;
    flex-direction: column;
    transform-origin: top;
  }

  @include mq(550) {
    top: 2%;
  }
  .btn-drawer {
    color: var(--dgold);
    width: 80%;
    // height: 30px;
    max-width: 50px;
    aspect-ratio: 1/1;
    border: 2px solid var(--dgold);
    margin-bottom: 1em;
    background: var(--dgold);
    color: black;
    filter: drop-shadow(0px 0px 4px black);

    svg {
      width: 100%;
      padding: 0.5em;
      height: 100%;
    }
  }
}
