@import "mixins";
#gallery-displayer {
  padding-bottom: 30vh;
  #gd-head {
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    // flex-basis: 1;
    flex-grow: 1;
    align-items: flex-end;

    max-width: 90%;
    @include mq(468) {
      flex-direction: column;
    }
    .h {
      font-size: 4rem;
      color: transparent;
      text-transform: uppercase;
      -webkit-text-stroke: 1px white;
      text-stroke: 1px white;
      line-height: 90%;
      margin-bottom: 0.09em;

      @include mq(550) {
        font-size: clamp(1.5rem, 15vw, 3.5rem);
      }
      @include mq(468) {
        text-align: center;
      }
    }

    .l {
      width: 100%;
      p {
        color: white;
        font-size: 1.4rem;
      }
    }
    .r {
      width: 100%;
      display: flex;

      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;

      @include mq(468) {
        justify-content: center;
        align-items: center;
      }
      .side-images {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        gap: 1em;
        flex-wrap: wrap;
        img {
          max-height: 120px;
        }
        @media screen and (max-width: 550px) {
          max-width: 100%;
          padding-top: 1em;
          justify-content: center;
        }
      }
      .p-controls {
        display: flex;
        align-items: center;
        gap: 1em;
        margin-bottom: 0.5em;
        p {
          color: white;
          font-size: 2rem;
          font-weight: bold;
          font-family: var(--fontO);

          @include mq(550) {
            font-size: 1rem;
          }
        }

        .btn-page {
          height: 50px;
          width: 50px;
          @include mq(559) {
            height: 35px;
            width: 35px;
          }
          path {
            fill: transparent;
          }
          &:hover {
            path {
              fill: white;
            }
          }
          &.r {
            rotate: -180deg;
          }
        }
      }

      .slogan {
        max-width: 70%;
      }
    }
  }

  #gallery {
    margin-top: 30px;
    gap: 20px;
    &:has(.highlights) {
      // max-width: 70vw !important;
      display: grid;
      grid-template-columns: 70vw 20vw;
      gap: 0;
      @media screen and (max-width: 1024px) {
        display: flex;
        flex-direction: column-reverse;
      }
    }

    .highlights {
      max-width: 100%;
      @media screen and (max-width: 1024px) {
        max-width: 80%;
        margin: 0 auto;
        padding-bottom: 3em;
      }
      .thumbnail {
        width: 100%;
        aspect-ratio: 16 / 9;
        transition: all 500ms ease;
        object-fit: cover;
      }
      .panel {
        position: sticky;
        top: 5%;
        h2 {
          color: var(--dgold);
          font-weight: bold;
          font-size: 3rem;
          padding-bottom: 0.5em;
          @media screen and (max-width: 1280px) {
            font-size: 2.4rem;
          }
        }
        .title {
          color: white;
          font-size: 1.2rem;
          @media screen and (max-width: 550px) {
            font-size: 0.9rem;
          }
        }
        &:hover {
        }
        .link {
          display: block;
          transform-origin: left;
          &:hover {
            scale: 1.02;
            .thumbnail {
              outline: 3px solid var(--dgold);
            }
            .thumb {
              img {
                filter: brightness(50%);
              }
              svg {
                opacity: 1;
              }
            }
          }
        }

        .thumb {
          position: relative;
          svg {
            position: absolute;
            color: white;
            left: 0%;
            width: 100%;
            opacity: 0.2;
            transition: all 500ms ease;
            height: 100%;
            padding: 5em;
            z-index: 10;
            @media screen and (max-width: 1280px) {
              padding: 0;
              scale: 0.7;
            }
          }
        }
      }
    }
  }
}
