@import "mixins";

#media-detail {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  background: rgba(0, 0, 0, 0.703);

  top: 0%;
  left: 0%;
  display: flex;
  justify-content: center;
  backdrop-filter: blur(4px);
  overflow: visible;
  padding-top: 8vh;

  transition: all 500ms ease;

  &.v {
    opacity: 1;
  }
  &.h {
    opacity: 0;
    user-select: none;
    pointer-events: none;
  }
  .mc {
    width: 90vw;
    height: calc(90vh - 140px);
    // padding-bottom: 140px;

    // background: green;
    // display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .img {
      width: auto;
      max-width: 100%;
      max-height: 100%;
      height: auto;
      box-shadow: 0px 0px 24px 14px black;
      border: 1px solid rgba(128, 128, 128, 0.439);
    }
    .loader-circ {
      width: 150px;
      height: 150px;
      animation: speen 1s infinite linear;
      color: white;
    }
    .video {
      width: auto;
      height: 100%;
      box-shadow: 0px 0px 24px 14px black;
      background: black;
      border: 1px solid rgba(128, 128, 128, 0.439);
      @include mq(1024) {
        width: 100%;
        height: auto;
        max-height: 90%;
        max-width: 90%;
      }
    }
  }

  .btn-c {
    width: 50px;
    height: 200px;
    background: var(--dgold);
    color: #202020;
    position: absolute;
    padding: 0.55em;

    @include mq(1024) {
      height: 150px;
      width: 5vh;
      padding: 0.2em;
    }
    @include mq(550) {
      width: 5vw;
      height: 20vh;
    }
    &.l {
      left: 0%;
      top: 30vh;
    }
    &.r {
      right: 0%;
      top: 30vh;
    }
    svg {
      width: 100%;
      height: 100%;
    }
  }

  .imgcont {
    position: relative;
  }
  .collections {
    padding: 0.25em 1em;
    background: var(--dgold);
    position: absolute;
    top: 0%;
    right: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    font-family: var(--fontO);
    font-weight: bold;
    border-radius: 0 0 0 1em;
    transform-origin: left top;
    svg {
      width: 30px;
      height: 30px;
    }

    @include mq(550) {
      font-size: 0.7rem;
      svg {
        width: 20px;
        height: 20px;
      }
    }
  }
  .detail-bar {
    position: fixed;
    bottom: 0%;
    left: 0%;
    width: 100%;

    border-top: 2px solid var(--dgold);
    background: #0f0e0e url("/bg/wave.png");
    box-shadow: 0px -14px 24px black;
    .data {
      display: flex;
      justify-content: space-between;
      height: 70px;
    }
    @include mq(1024) {
      .data {
        overflow-y: hidden;
        overflow-x: scroll;
      }
    }
    @include mq(467) {
      .data {
        align-items: flex-start;
        padding-top: 1em;
      }
    }
    .warn {
      position: absolute;
      bottom: 110%;
      text-align: center;
      width: 100%;
      user-select: none;
      pointer-events: none;
      font-size: 1rem;
      color: white;
      opacity: 0.4;
      font-family: var(--fontM);
      font-weight: lighter;
      display: flex;
      padding: 0.2em 1em;
      justify-content: space-between;
      @include mq(1280) {
        font-size: 0.8rem;
      }
      @include mq(768) {
        flex-direction: column;
        font-size: 0.6rem;
        opacity: 0.2;
      }
    }
    .col {
      display: flex;
      flex-direction: column;
      min-width: 200px;
      @include mq(468) {
        min-width: 140px;
      }
      h2 {
        color: var(--dgold);
        font-size: 1rem;
        line-height: 90%;
        margin-bottom: 0.3em;
        font-family: var(--fontO);
        @include mq(468) {
          font-size: 0.8rem;
        }
      }
      p {
        color: white;
        font-size: 0.8rem;
        font-family: var(--fontM);

        @include mq(468) {
          font-size: 0.6rem;
        }
      }
      h2 {
      }

      a {
        color: rgb(90, 90, 255);
        text-decoration: underline;
        font-size: 0.9rem;
      }
    }
    .detail {
      display: flex;
      gap: 1em;
      padding: 0.25em;
      align-items: center;
      padding: 0 2em;

      .main {
        display: flex;
        gap: 1em;

        .cb {
          background: #202020;
          padding: 0.25em 1em;
          border-bottom: 2px solid var(--dgold);
          padding-bottom: 0.55em;
          min-width: 150px;
          h2 {
            font-size: 0.65rem;
          }
          p {
            font-size: 0.7rem;
          }
        }
        .cb-l {
          position: relative;
          display: flex;
          gap: 0.25em;
          max-width: 40vw;
          overflow-x: auto;
        }
      }
    }
    .watermark {
      display: flex;
      align-items: center;
      gap: 1em;
      .col {
        min-width: 150px;
      }

      img {
        height: 100%;
        object-fit: contain;
        width: 100%;
      }
      @include mq(550) {
        width: auto;
        flex-shrink: 0;
        align-items: center;
        .col {
        }
        img {
          width: 200px;
        }
      }

      @include mq(468) {
        align-items: flex-start;
        img {
          transform: translateY(-20%);
        }
      }
    }
  }
}
