#new-testimonials {
  .ttitle {
    font-weight: bolder;
    color: var(--dgold);
    font-size: 5rem;
    text-align: center;
    @media screen and (max-width: 768px) {
      font-size: 3rem;
    }
    @media screen and (max-width: 420px) {
      font-size: 2rem;
    }
  }

  max-width: 1280px;
  margin: 0 auto;

  .testimonials-slide {
    // background: red;
    // display: flex;
    padding: 2em;
    display: flex;
    overflow: hidden;
    position: relative;
    // gap: 1em;
    .blocks {
      display: flex;
      overflow: hidden;
      // margin-bottom: 1em;
      justify-content: flex-start;
      // overflow-x: scroll;
      flex-shrink: 0;
      flex-grow: 0;
      // flex-basis: 100%;
      .t-card {
        width: 400px;
        background: #202020;
        margin-right: 1em;
        padding: 1em;
        border-radius: 0.5em;
        border-bottom: 4px solid var(--dgold);
        min-height: 300px;
        // flex-shrink: 0;
        // sflex-basis: 31%;
        @media screen and (max-width: 550px) {
          width: 90vw;
          min-height: 200px;
        }
        .person-info {
          display: grid;
          grid-template-columns: 90px 1fr;
          gap: 1em;
          align-items: center;
          @media screen and (max-width: 550px) {
            grid-template-columns: 1fr 3fr;
          }
          .img {
            max-width: 100%;
            border-radius: 50%;
          }
          .detail {
            h2 {
              font-weight: bold;
              font-size: 1.5rem;
              color: var(--dgold);
              font-weight: bold;
              @media screen and (max-width: 550px) {
                font-size: 1rem;
              }
            }
            .socials {
              display: flex;
              gap: 0.2em;
            }
            a {
              font-weight: bold;
              font-size: 1.5rem;
              color: var(--dgold);
              font-weight: bold;
            }
            p {
              color: white;
              opacity: 0.8;
              @media screen and (max-width: 550px) {
                font-size: 0.7rem;
              }
              font-size: 0.85rem;
            }
          }
        }
        .testi-text {
          color: rgba(255, 255, 255, 0.682);
          padding: 1em;
          @media screen and (max-width: 550px) {
            padding: 0.5em;
          }
          p {
            font-size: 0.75rem;
            @media screen and (max-width: 550px) {
              font-size: 0.6rem;
            }
          }
        }
      }
    }

    .btn-seek {
      position: absolute;
      left: 3%;
      top: 50%;
      background: white;

      width: 40px;
      height: 40px;
      transform: translateY(-20px);
      border-radius: 50%;
      box-shadow: 0px 0px 15px black;
      @media screen and (max-width: 768px) {
        top: initial;
        bottom: 0%;
      }
      svg {
        color: var(--dgold);
        width: 100%;
        height: 100%;
        padding: 0.55em;
      }
      &.prev {
        left: initial;
        right: 3%;
      }
    }
  }
}
