@import "mixins";
:root {
  --dgold: #c7a654;
}

html,
body {
  // max-width: 100vw;
  // overflow-x: hidden;
  // background: linear-gradient(to bottom, #121211, #11100f);
  position: relative;
  overflow-x: clip;
}

main {
  min-height: 100vh;
  position: relative;
  z-index: 1;
}

@keyframes speen {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}
button {
  padding: 0;
  outline: none;
  border: none;
  background: none;
  text-decoration: none;
  color: black;
}
.btn {
  cursor: pointer;
  transition: all 200ms ease;
  &:hover {
    scale: 1.05;
  }
  &:active {
    scale: 0.95;
  }
}

body {
  // font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(#20201e, #11100f), url("/bg/noise.png");
  background-blend-mode: multiply;
  background-size: 500px;
  // background-repeat: no-repeat;
  font-family: var(--fontM);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--fontO);
}

.h {
  letter-spacing: -5px;
}
p {
  font-family: var(--fontM);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

.confine {
  margin: 0 auto;
  max-width: min(95%, 1200px);
}

.lens-scl {
  display: flex;
  gap: 1em;
  .btn-lens {
    width: 70px;
    height: 70px;
    filter: drop-shadow(0px 0px 4px black);
    @include mq(1280) {
      width: 60px;
      height: 60px;
    }
    @include mq(1024) {
      width: 50px;
      height: 50px;
    }
    color: var(--dgold);
    position: relative;
    scale: 0.7;
    .lensi {
      path {
        stroke-width: 2px;
        transition: all 500ms ease;
      }
      @include mq(550) {
        path {
          fill: var(--dgold);
        }
      }
    }
    &:hover {
      .lensi {
        rotate: -20deg;
        path {
          stroke-width: 29px;
        }
      }
      .ic {
        color: white;
        position: relative;
        z-index: 20;
        padding: 0;
        filter: drop-shadow(0px 4px 2px rgb(65, 46, 11));
      }
    }
    .lensi {
      transition: all 250ms ease;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0%;
      left: 0%;
      scale: 2;
    }
    .ic {
      width: 100%;
      height: 100%;
      transition: all 200ms ease;
      padding: 0.9em;
    }
  }
}
