@import "mixins";

#page_home {
  margin-bottom: 200px;
  #banner-h {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("/bg/h-headbg.png") rgba(0, 0, 0, 0.956);
    background-size: cover;
    min-height: 94vh;
    background-blend-mode: difference;
    background-attachment: fixed;
    background-position: 50%;
    width: 100%;
    padding: 1em;
    padding-block: 200px;
    box-shadow: 0px 0px 80px 14px rgba(0, 0, 0, 0.869);
    border-bottom: 2px solid var(--dgold);

    @include mq(1024) {
      .confine {
        max-width: 90%;
        margin: 0 auto;
        object-position: center;
      }
    }

    @include mq(550) {
      min-height: 10vh;
      padding-block: 150px;
    }
    .main {
      filter: drop-shadow(0px 0px 12px black);
      width: 100%;
      height: 100%;
    }
  }

  #highlights {
    padding-block: 200px;
    background: url("/bg/wave.png"), rgba(0, 0, 0, 0.397);
    .h-h {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-bottom: 1em;
      h2 {
        font-size: 5rem;
        color: transparent;
        -webkit-text-stroke: 1px white;
        text-stroke: 1px white;
        line-height: 100%;

        @include mq(468) {
          font-size: clamp(1rem, 16vw, 4rem);
        }
      }

      .arr {
        width: 50px;
        height: 50px;
        background: var(--dgold);
        clip-path: polygon(100% 0, 0% 100%, 100% 100%);
      }
    }

    .images {
      height: 600px;

      display: grid;
      grid-template-columns: 1fr 1.5fr 0.8fr;
      gap: 1em;

      @include mq(1024) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        height: 900px;
        .r {
          grid-column: span 2;
        }
      }

      @include mq(768) {
        // grid-template-columns: 1fr;
        grid-template-rows: 1.2fr 1fr;
        height: 600px;
        .c {
          height: 100%;
        }
      }
      @include mq(468) {
        display: flex;
        flex-direction: column;
        height: auto;
        .l {
          width: 100%;
        }
        .c {
          display: flex;
          flex-direction: column;
          height: auto;
          .b {
            .media {
              aspect-ratio: 16/9;
              height: 100%;
            }
          }
        }
        .r {
          height: 250px;
        }
      }
      .media {
        width: 100%;
        height: 100%;
      }
      .c {
        display: flex;
        flex-direction: column;
        gap: 1em;
        flex-grow: 1;
        .t {
          display: grid;
          grid-template-columns: 1fr 1fr;
          height: 100%;
          gap: 1em;
          .media {
            height: 100%;
          }
        }
        .b {
          height: 100%;
        }
      }
    }
    .videos {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-top: 3em;
      height: 360px;
      width: 100%;
      @include mq(1024) {
        height: 300px;
      }

      @include mq(768) {
        height: 200px;
        margin-top: 1em;
      }
      @include mq(468) {
        height: 150px;
      }
      @include mq(360) {
        display: flex;
        flex-direction: column;
        height: auto;
        .media {
          // height: 300px;
          aspect-ratio: 16/9;
        }
      }
      // height: auto;
      // aspect-ratio: 16 / 9;
      gap: 1em;
    }
  }

  #lens {
    height: 600px;
    position: relative;
    // background: red;
    border-radius: 6em;
    overflow: hidden;
    background: rgb(22, 22, 21);

    @include mq(768) {
      height: 400px;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0%;
      left: 0%;
      width: 100%;
      height: 100%;
      background: url("/bg/modern-bg.png");
      background-size: cover;
      background-position: center;
      mask-image: linear-gradient(
        to bottom,
        white,
        rgba(255, 255, 255, 0.361) 50%,
        transparent
      );
    }
    .text {
      display: flex;
      justify-content: flex-end;
      // align-items: flex-end;
      flex-direction: column;
      padding-bottom: 1em;
      padding-left: 5%;
      padding-bottom: 3em;
      height: 100%;
      filter: drop-shadow(0px 0px 12px black);
    }
    h2 {
      font-size: 7rem;
      font-weight: 900;
      letter-spacing: -10px;
      font-family: var(--fontM);
      color: var(--dgold);
      position: relative;
      width: max-content;
      @include mq(1024) {
        font-size: 6rem;
      }

      @include mq(768) {
        font-size: 4rem;
        letter-spacing: -5px;
      }

      @include mq(550) {
        font-size: 3rem;
      }
    }
    .lens {
      position: absolute;
      left: 100%;
      bottom: -10%;

      path {
        animation: lens 5s infinite ease-in alternate;
        fill: var(--dgold);
        @keyframes lens {
          from {
            stroke-width: 20px;
          }
          25% {
            stroke-width: 30px;
          }
          20% {
            stroke-width: 17px;
          }
          35% {
            stroke-width: 30px;
          }
          40% {
            stroke-width: 20px;
          }
          30% {
            stroke-width: 15px;
          }
        }
      }
      @include mq(768) {
        width: 100px;
        height: 100px;
      }
      @include mq(550) {
        left: 100%;
        bottom: 100%;
      }
      @include mq(420) {
        left: 80%;
      }
    }
    .h {
      line-height: 90%;
    }
    .second {
      font-size: 4rem;
      margin-left: 20%;
      font-weight: bolder;
      @include mq(1024) {
        margin-left: 10%;
      }
      @include mq(768) {
        font-size: 3rem;
      }
      @include mq(550) {
        font-size: 2.5rem;
      }
      @include mq(420) {
        font-size: clamp(2rem, 2.5vw, 3rem);
      }
      .fill {
        color: white;
      }

      color: transparent;
      stroke: 1px white;
      font-family: var(--fontO);
      -webkit-text-stroke: 1px white;
      // letter-spacing: 0px;
    }
  }

  #category {
    display: flex;
    padding-left: 20%;
    margin-block: 100px;
    flex-direction: column;
    gap: 2em;

    @include mq(768) {
      padding-left: 12%;
    }
    .category-row {
      height: 180px;
      display: flex;
      width: 100%;

      @include mq(768) {
        height: 130px;
      }
      &:hover {
        transform: translateX(-2%);
      }
      transition: all 500ms ease;

      .cr-h {
        height: auto;
        background: url("/bg/wave-sm.png") var(--dgold);
        width: 300px;
        aspect-ratio: 16 / 9;
        border-radius: 3em 0 0 0;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: flex-end;
        transition: all 500ms ease;

        h2 {
          text-transform: uppercase;
          font-size: 1.6rem;
          padding: 0.2em;
          letter-spacing: 7px;
          color: #252323;
          @include mq(768) {
            font-size: 1rem;
            letter-spacing: 1px;
          }
        }

        &:hover {
          span {
            transform: translateX(-10%);
          }
        }
        .footer {
          background: #252323;
          color: var(--dgold);
          width: 100%;
          font-size: 0.8rem;
          span {
            display: flex;
            justify-content: flex-end;
            gap: 1em;

            transition: all 250ms ease;
            padding: 0.2em 1em;
            align-items: center;
          }
        }
      }
      .cr-l {
        width: 100%;
        background: rgba(49, 48, 48, 0.517);
        display: flex;
        max-width: 100%;
        gap: 0em;
        overflow-x: auto;
        .media {
          min-width: 250px;
          height: 100%;
        }
      }
      @include mq(468) {
        flex-direction: column;
        height: auto;
        align-items: flex-end;
        .cr-l {
          height: 130px;
        }
        .cr-h {
          height: 80px;
          aspect-ratio: initial !important;
          h2 {
            font-size: 2rem;
            font-weight: bolder;
          }
        }
      }
    }
  }

  #about {
    margin-top: 200px;
    .confine {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;

      @include mq(550) {
        // flex-direction: row;
        grid-template-columns: 1fr;
      }
      .l {
        height: 80%;
        background: url("/bg/noise2.png") #232323;
        background-blend-mode: multiply;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0em 5em;
        transform: translateX(5%);

        @include mq(1024) {
          transform: translateX(25%);
          padding: 3em;
          p {
            font-size: 0.9rem;
          }
        }

        @include mq(768) {
          transform: translateX(35%);
        }

        @include mq(550) {
          transform: translateX(0%);
          padding: 4em 2em;
          h2 {
            font-size: 2rem;
          }
        }

        h2 {
          font-size: 3rem;
          font-weight: bold;
          letter-spacing: -3px;
          color: var(--dgold);
          font-family: var(--fontM);
          line-height: 90%;
          margin-bottom: 0.2em;
        }
        p {
          opacity: 0.7;
          color: white;
        }
        position: relative;
        .arr {
          position: absolute;
          bottom: -15px;
          left: -15px;
          width: 50px;
          height: 50px;
          clip-path: polygon(0 0, 0% 100%, 100% 100%);
          background: var(--dgold);
        }
      }
      .r {
        height: 400px;
        img {
          width: 100%;
          border: 1px solid rgba(128, 128, 128, 0.419);
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
  #mission {
    margin: 100px 0;

    .confine {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      @include mq(550) {
        display: flex;
        flex-direction: column-reverse;
        gap: 2em;
      }
      .l {
        height: 80%;
        background: url("/bg/noise2.png") #232323;
        background-blend-mode: multiply;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0em 5em;
        transform: translateX(-5%);

        text-align: right;
        box-shadow: 0px 0px 24px 10px rgba(0, 0, 0, 0.469);
        h2 {
          font-size: 3rem;
          font-weight: bold;
          letter-spacing: -3px;
          color: var(--dgold);
          font-family: var(--fontM);
          line-height: 90%;
          margin-bottom: 0.2em;
        }
        p {
          opacity: 0.7;
          color: white;
        }
        position: relative;
        .arr {
          position: absolute;
          bottom: -20px;
          right: -15px;
          width: 50px;
          height: 50px;
          background: var(--dgold);
          clip-path: polygon(100% 0, 0% 100%, 100% 100%);
        }

        @include mq(1024) {
          transform: translateX(-25%);
          padding: 3em;
          p {
            font-size: 0.9rem;
          }
        }

        @include mq(768) {
          transform: translateX(-35%);
        }

        @include mq(550) {
          padding: 2em;
          transform: translateX(0%);
          h2 {
            font-size: 2.5rem;
          }
        }
      }
      .r {
        height: 400px;
        img {
          width: 100%;
          border: 1px solid rgba(128, 128, 128, 0.419);
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  #values {
    margin-top: 400px;
    overflow: hidden;
    padding-bottom: 400px;

    .th {
      text-align: center;
      font-size: 5rem;
      letter-spacing: -4px;
      color: transparent;
      text-stroke: 2px white;
      -webkit-text-stroke: 2px white;
      margin-bottom: 0.5em;
    }
    position: relative;
    .left-box {
      position: absolute;
      height: 60%;
      width: 24%;
      top: 10%;
      // background: white;
      border: 2px solid white;
      z-index: -2;
      scale: 1.2;

      @include mq(1024) {
        opacity: 0.14;
      }
      &::before {
        content: "";
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        border: 1px solid rgba(255, 255, 255, 0.51);
        scale: 0.9 0.95;
      }
    }
    .right-box {
      position: absolute;
      height: 60%;
      width: 24%;
      top: 10%;
      right: 0%;
      // background: white;
      border: 2px solid white;
      z-index: -2;
      scale: 1.2;

      @include mq(1024) {
        opacity: 0.14;
      }
      &::before {
        content: "";
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        border: 1px solid rgba(255, 255, 255, 0.51);
        scale: 0.9 0.95;
      }
    }
    .cubes {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 1.5em;
      max-width: 1100px;

      @include mq(1280) {
        gap: 1em;
      }
      @include mq(768) {
        grid-template-columns: 1fr 1fr;
      }

      @include mq(468) {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 120px 200px);
        .cube {
          width: 100%;
          aspect-ratio: initial;
        }
      }

      @include mq(380) {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 200px 200px);
      }
      .cube {
        aspect-ratio: 1 / 1;
        background: url("/bg/diamond.png"), #202020;
        // width: 100%;
        height: 100%;

        transition: all 100ms ease;

        &:hover {
          scale: 1.05;
        }
        .mim {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        &.txt {
          // display: flex;
          padding: 3em;
          text-shadow: 0px 0px 4px black;
          @include mq(550) {
            padding: 1em;
          }
          h2 {
            font-size: 3rem;
            color: var(--dgold);
            line-height: 90%;

            letter-spacing: -3px;
            font-weight: 300;
            font-family: var(--fontM);
            margin-bottom: 0.5em;

            @include mq(1024) {
              font-size: 2rem;
            }
            @include mq(550) {
              text-wrap: break-word;
            }
            strong,
            b {
              font-weight: 800;
            }
          }
          p {
            color: white;
          }
        }
      }
    }
  }

  #partnership {
    .p-h {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      padding: 0 0.8em;

      .h {
        font-size: 8rem;
        -webkit-text-stroke: 1px white;
        padding: 0 0.1em;
        text-stroke: 1px white;
        @include mq(1024) {
          line-height: 90%;
          font-size: clamp(1rem, 13vw, 5rem);
        }
      }

      .arr {
        width: 50px;
        height: 50px;
        background: var(--dgold);
        clip-path: polygon(100% 0, 0% 100%, 100% 100%);
      }
    }

    .p-l {
      background: #121111 url("/bg/wave.png");
      box-shadow: 0px 0px 24px 14px black;
      // background-blend-mode: multiply;
      min-height: 500px;
      margin-top: 1em;
      padding: 2cqi 0;
    }
    overflow: clip;
    .row {
      height: 190px;
      display: flex;

      .slider {
        height: 100%;
        display: flex;
        gap: 3em;

        position: relative;
        --duration: 10s;
        // animation: slider var(--duration) infinite linear alternate-reverse;
        @keyframes slider {
          0% {
            left: 0%;
          }
          to {
            left: calc(-100% + 40vw);
          }
        }
        .partner {
          height: 140px;
          width: 100%;
          img {
            width: auto;
            object-fit: contain;
            height: 100%;
          }
        }
      }
      @include mq(1024) {
        height: 150px;
      }
      @include mq(468) {
        height: 100px;
        .partner {
          height: 100%;
        }
      }
    }
  }
}
