@import "mixins";
#fixedD {
  margin-bottom: 300px;
  --gap: 1.8em;

  @include mq(1024) {
    --gap: 1em;
  }
  .list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    margin: 0 auto;
    gap: var(--gap);
    margin-top: 50px;
    @include mq(420) {
      grid-template-columns: 1fr;
    }
    .media {
      // height: 100%;
      // width: 100%;
      width: auto;
      height: auto;
      max-height: 100%;
    }

    .l {
      gap: 1em;
      max-height: 80%;
      display: flex;
      flex-direction: column;
      .t {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
        height: 100%;
        width: 100%;

        @include mq(550) {
          display: flex;
          flex-direction: column;
        }
      }
      .b {
        height: 100%;
        width: 100%;
        .media {
          height: 100%;
          height: 600px;
          width: 100%;
          @include mq(1024) {
            height: 300px;
          }
        }
      }
    }

    .r {
      gap: var(--gap);
      height: 100%;
      display: flex;
      flex-direction: column;

      .t {
        // height: 100%;
        // width: 100%;
        .media {
          width: 100%;
          height: 700px;
          @include mq(1024) {
            height: 500px;
          }
          @include mq(420) {
            height: 400px;
          }
        }
      }
      .b {
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--gap);
        @include mq(550) {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}
