@import "mixins";
#twoCol {
  .list {
    max-width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    .media {
      height: 600px;
      @include mq(1280) {
        height: 300px;
      }
      @include mq(550) {
        height: 200px;
      }
      @include mq(468) {
        height: 150px;
      }
      .video {
        object-fit: cover;
      }
    }
  }
}
