#creator-list {
  max-width: min(1400px, 95%);
  margin: 0 auto;
  padding: 3em 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: flex-start;
  @media screen and (max-width: 1024px) {
    justify-content: center;
  }
  .creator {
    position: relative;
    height: 600px;
    width: 200px;
    background: url("/bg/wave.png") #0f0e0e;
    border: 3px solid var(--dgold);
    position: relative;
    border-radius: 5em 0 0 0;
    overflow: hidden;

    @media screen and (max-width: 1280px) {
      width: 200px;
      height: 600px;
    }
    @media screen and (max-width: 600px) {
      width: 100%;
      // width: 140px;
      height: 400px;
      border-radius: 2em 0 0 0;
    }

    .panel {
      overflow: hidden;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0%;
      left: 0%;
      // background: red;
      .name {
        color: #2a2a2a;
        font-size: 3rem;
        rotate: 90deg;
        transform-origin: left bottom;
        white-space: nowrap;
        position: absolute;
        left: 0%;
        top: -20px;
        font-weight: bolder;
        text-shadow: 0px 0px 4px black;

        transition: all 500ms ease;
        @media screen and (max-width: 768px) {
          font-size: 1.2rem;
        }
      }
      .creator-art {
        height: 100%;
        position: absolute;
        transition: all 500ms ease;
        left: 80%;
        transform: translateX(-50%);
        scale: 1;
      }
    }
    .bottom-info {
      position: absolute;
      bottom: 0%;
      background: var(--dgold);
      min-height: 20%;
      width: 100%;
      left: 0%;
      border-radius: 0 2em 0 0;
      padding: 1em;
      display: flex;
      flex-direction: column;
      transition: all 500ms ease;
      justify-content: space-between;
      cursor: pointer;

      .a {
        font-weight: lighter;
      }
      .btn-play {
        background: #0f0e0e;
        color: #ffffff33;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        padding: 0.5em;
        align-self: flex-end;
        justify-content: flex-end;
        svg {
          width: 100%;
          height: 100%;
        }
      }

      opacity: 0;
      transform: translateY(100%);
    }
    &:hover {
      .bottom-info {
        transform: translateY(0%);
        opacity: 1;
      }
      .panel {
        .name {
          opacity: 0;
        }
        .creator-art {
          left: 50%;

          scale: 1.05;
        }
      }
    }
    @media screen and (max-width: 768px) {
      .bottom-info {
        transform: translateY(0%);
        opacity: 1;
      }
      .panel {
        .name {
          opacity: 0;
        }
        .creator-art {
          left: 50%;

          scale: 1.05;
        }
      }
    }
  }
}
#video-popup {
  position: fixed;
  top: 0%;
  left: 0%;
  background: #17171798;
  backdrop-filter: blur(5px);
  width: 100%;
  height: 100%;
  z-index: 1000;

  transition: all 500ms ease;
  &.close {
    opacity: 0;
    user-select: none;
    pointer-events: none;
  }
  display: flex;
  align-items: center;
  justify-content: center;
  .panel {
    // max-width: 1280px;
    position: relative;
    margin: 0 auto;
    background: #151515 url("/bg/noise2.png");
    background-blend-mode: multiply;
    border: 10px solid var(--dgold);
    padding: 2em;
    @media screen and (max-width: 1024px) {
      border-width: 2px;
    }

    width: 70vw;
    @media screen and (max-width: 1280px) {
      width: 90vw;
    }
    @media screen and (max-width: 420px) {
      width: 98vw;
      padding-inline: 0.5em;
    }
    .info-rows {
      display: flex;
      padding-top: 1em;
      gap: 1em;
      overflow-x: auto;
      .if {
        background: #202020;
        padding: 0.55em 1em;
        border-bottom: 2px solid var(--dgold);
        padding-right: 3em;
        flex-shrink: 0;
      }
      h3 {
        color: var(--dgold);
        font-size: 1.1rem;
        @media screen and (max-width: 1024px) {
          font-size: 0.9rem;
        }
      }
      p {
        color: white;
        font-size: 0.9rem;
        @media screen and (max-width: 1024px) {
          font-size: 0.8rem;
        }
      }
    }
    iframe {
      aspect-ratio: 16 / 9;
      width: 100%;
      height: auto;
      // min-height: 80vh;
      border: none;
    }
  }
}
