#p_featured {
  .featured-h {
    padding-top: 150px;
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    max-width: 1400px;

    display: flex;
    justify-content: space-between;
    margin: 0 auto;

    .text {
      h2 {
        font-size: 4rem;
        color: var(--dgold);
        font-weight: 800;
      }
      p {
        color: white;
        opacity: 0.7;
      }
    }

    .controls {
      display: flex;
      align-items: flex-end;
      gap: 0.5em;
      input {
        background: #171717;
        color: white;
        opacity: 0.8;
        font-family: var(--fontM);
        font-size: 1.5rem;
        padding: 0.25em 1em;
        border-radius: 3em;
        border: 3px solid var(--dgold);
        font-weight: lighter;
      }
      .btn-control {
        background: var(--dgold);
        color: #171717;
        font-family: var(--fontM);
        font-size: 1.5rem;
        padding: 0.25em;
        // border-radius: 3em;
        border: 3px solid var(--dgold);
        font-weight: lighter;
        svg {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

#filter-popup {
  position: fixed;
  top: 0%;
  left: 0%;
  background: #17171798;
  backdrop-filter: blur(5px);
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  align-items: center;
  transition: all 1500ms ease;
  &.closed {
    opacity: 0;
    user-select: none;
    pointer-events: none;
  }
  .panel {
    max-width: 800px;
    margin: 0 auto;
    background: #1f1f1f url("/bg/noise2.png");
    background-blend-mode: multiply;
    border: 10px solid var(--dgold);
    padding: 1em;
    .mt {
      text-align: center;
      font-size: 3rem;
      color: var(--dgold);
      padding-bottom: 0.5em;
    }

    .ig {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1em;
      .ff {
        display: flex;
        flex-direction: column;
        select {
          background: none;
          color: white;
          font-family: var(--fontM);
          border: none;
          font-size: 1.2rem;
          option {
            background: #171717;
          }
        }
      }
    }
  }
}
