#p_featured {
  .featured-h {
    padding-top: 150px;
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    max-width: 1400px;

    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    @media screen and (max-width: 1440px) {
      max-width: 80%;
    }
    @media screen and (max-width: 768px) {
      flex-direction: column;
      gap: 2em;
    }
    .text {
      h2 {
        font-size: 4rem;
        color: var(--dgold);
        font-weight: 800;
        @media screen and (max-width: 1280px) {
          font-size: 2rem;
        }
        @media screen and (max-width: 420px) {
          font-size: 1.4rem;
        }
      }
      p {
        color: white;
        opacity: 0.7;

        @media screen and (max-width: 420px) {
          font-size: 0.9rem;
        }
      }
    }

    .controls {
      display: flex;
      align-items: flex-end;
      gap: 0.5em;
      flex-wrap: wrap;
      @media screen and (max-width: 1024px) {
        justify-content: flex-end;
      }
      input {
        background: #171717;
        color: white;
        opacity: 0.8;
        font-family: var(--fontM);
        font-size: 1.5rem;
        padding: 0.25em 1em;
        border-radius: 3em;
        border: 3px solid var(--dgold);
        font-weight: lighter;
        @media screen and (max-width: 1280px) {
          font-size: 1.3rem;
        }
        @media screen and (max-width: 1024px) {
          min-width: 0%;
        }
        @media screen and (max-width: 550px) {
          font-size: 1rem;
        }
      }
      .btn-control {
        background: var(--dgold);
        color: #171717;
        font-family: var(--fontM);
        font-size: 1.5rem;
        padding: 0.25em;
        // border-radius: 3em;
        border: 3px solid var(--dgold);
        font-weight: lighter;
        @media screen and (max-width: 1280px) {
          font-size: 1.3rem;
        }
        svg {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

#filter-popup {
  position: fixed;
  top: 0%;
  left: 0%;
  background: #17171798;
  backdrop-filter: blur(5px);
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  align-items: center;
  transition: all 800ms ease;

  &.closed {
    opacity: 0;
    user-select: none;
    pointer-events: none;
    .panel {
      transform: translateY(100%);
    }
  }
  .panel {
    position: relative;
    transition: all 500ms ease;
    max-width: 800px;
    margin: 0 auto;
    background: #1f1f1f url("/bg/noise2.png");
    background-blend-mode: multiply;
    border: 10px solid var(--dgold);
    padding: 1em;
    width: 100%;
    .mt {
      text-align: center;
      font-size: 3rem;
      color: var(--dgold);
      padding-bottom: 0.5em;
    }

    .ig {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1em;
      .ff {
        display: flex;
        flex-direction: column;
        select {
          background: none;
          color: white;
          font-family: var(--fontM);
          border: none;
          font-size: 1.2rem;
          option {
            background: #171717;
          }
        }
      }
    }
    .selection {
      padding: 1em 0;
      p {
        font-size: 1.4rem;
        color: var(--dgold);
        font-weight: bolder;
        padding-bottom: 0.5em;
      }
      .list {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5em;
        .btn-red {
          background: #151414;
          border: 2px solid var(--dgold);
          color: var(--dgold);
          font-weight: bolder;
          font-family: var(--fontM);
          font-size: 1.2rem;
          padding: 0.25em 0.5em;
          &.selected,
          &:hover {
            background: var(--dgold);
            color: #202020;
          }
        }
      }
    }

    .color-picker {
      padding: 1em 0;
      p {
        font-size: 1.4rem;
        color: var(--dgold);
        font-weight: bolder;
        padding-bottom: 0.5em;
      }
      .list {
        display: flex;
        gap: 1em;
        flex-wrap: wrap;
        .btn-color {
          width: 60px;
          height: 60px;
          background: var(--col);
          border: 2px solid #151414;
          box-shadow: 0px 0px 4px black;

          &.initial {
            // rainbow
            background: linear-gradient(
              120deg,
              #ff0000,
              #ff7f00,
              #ffff00,
              #00ff00,
              #00ffff,
              #0000ff,
              #ff00ff
            );
          }
          &.selected {
            border: 5px solid var(--dgold);
          }
          svg {
            width: 100%;
            height: 100%;
            display: none;
          }
        }
      }
    }

    .action {
      display: flex;
      justify-content: center;
      padding-top: 2em;
      gap: 1em;
    }
    .btn-apply {
      font-family: var(--fontM);
      background: #151414;
      border: 3px solid var(--dgold);

      font-size: 1.5rem;
      font-weight: bolder;
      padding: 0.15em 1em;

      font-family: var(--fontA);
      color: var(--dgold);
      &:hover {
        background: var(--dgold);
        color: #151414;
      }
    }
  }
}
