@import "mixins";
#gd_horizontal {
  .list {
    display: flex;
    gap: 2em 0.8em;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    // background: white;
    min-height: 900px;
    flex-grow: 1;
    justify-content: left;

    @include mq(550) {
      justify-content: center;
      gap: 1.2em 0.8em;
    }

    @include mq(480) {
    }
    .media {
      height: 280px;
      @include mq(1280) {
        height: 200px;
      }
      @include mq(768) {
        height: 140px;
      }
      @include mq(550) {
        height: 130px;
      }
      width: auto;
    }
  }
}
